.dashboard {
  display: flex;
  min-height: 50rem;
  width: 100%;

  @media only screen and (max-width: $medium) {
    flex-direction: column;
  }

  &__location-panel {
    flex: 0 0 30%;
    border: var(--line);

    &-header {
      font-size: 2rem;
      text-align: center;
      margin-top: 1rem;
    }

    &--list {
      list-style: none;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    &--list-day {
      width: 15%;
      font-size: 1.3rem;
      padding: 1rem;

      @media only screen and (max-width: $medium) {
        font-size: 1.8rem;
      }
    }

    &--list-temp {
      font-size: 1.25rem;

      @media only screen and (max-width: $medium) {
        font-size: 1.4rem;
      }
    }

    &--list-icon {
      padding-top: 1rem;
    }

    @media only screen and (max-width: $medium) {
      order: 1;
    }
  }

  &__current-location-panel {
    text-align: center;
    width: 100%;
    border: var(--line);

    @media only screen and (max-width: $medium) {
      padding-bottom: 5rem;
    }

    &--header {
      margin-top: 4.5rem;
      margin-bottom: 2rem;
    }

    &--city {
      font-size: 3rem;
    }

    &--country {
      font-size: 2.3rem;
    }

    &-details--loader,
    &-details--icon {
      min-height: 30rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-details--condition {
      font-size: 1.9rem;
    }

    &-details--temperature {
      font-size: 2rem;
    }
  }
}

.low,
.high {
  display: block;
}
