.index-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 50rem;
  background-image: url('assets/pexels-photo-458785.jpeg');
  background-size: cover;
  background-position: top;
  position: relative;
}