.location {
  margin-right: 1.5rem;

  &__form--input {
    font-family: inherit;
    font-size: 1.5rem;
    color: inherit;
    border: none;
    padding: 1rem 2rem;
    transition: all 0.2s;
    background-color: var(--color-grey-light-2);
    border: 1px solid var(--color-grey-light-3);
    width: 90%;
    margin: auto;
    transition: all 0.2s ease;
    border: 1px solid red;

    &:focus {
      outline: none;
      width: 100%;
      background-color: #fff;
    }
  }
}
